/* public/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #a00000;
}

a {
    display: inline-block;
    background-color: #a00000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

a:hover {
    background-color: #0056b3;
}

#userList {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 24px);
}

/* Estilo para el botón flotante */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff0000; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

#backToTop:hover {
    background-color: #0056b3; /* Color de fondo en hover */
}
